.article-show-container[data-v-7141b8d9] {
  margin: 0 auto;
  min-height: 740px;
}
.article-show-container .article-show-wrapper[data-v-7141b8d9] {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}
.article-show-container .article-show-wrapper .global-article-header[data-v-7141b8d9] {
  margin: 0 auto;
  width: 1100px;
  margin-bottom: 5px;
}
.article-show-container[data-v-7141b8d9] .article-main {
  margin-top: 15px;
}
.article-show-container[data-v-7141b8d9] .right-side {
  margin-top: 15px;
}
@media screen and (max-width: 1660px) {
.article-show-container[data-v-7141b8d9] .article-present-container {
    margin-left: 280px;
}
}

body {
  min-width: min-content;
}
.km-mini-footer {
  display: none;
}
.open-ikm,
.back-to-top {
  display: none;
}

